* {
    margin: 0%;
    padding: 0%;
}

.logo {
    width: 150px;
    margin-top: 50px;    
}

.text-center {
   color: rgba(255, 245, 233, 0.877);
}

.nav-link {
    font-size: 24px;
    border: 2px;
    border-style: solid;
    border-color: rgba(118, 17, 233, 0.596);
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav-item {
    letter-spacing: 10px;    
    margin-right: 70px;
}

.falsocarrusel {
    
    background-image: url(./FalsoCarrusel/almaAzul.png);
    background-attachment: fixed;
    animation-name: carrusel;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes carrusel {
    20% {
        background-image: url(./FalsoCarrusel/almaCeleste.png);
    }
    40% {
        background-image: url(./FalsoCarrusel/almaChicle.png);
    }
    60% {
        background-image: url(./FalsoCarrusel/almaNaranja.png);
    }
    80% {
        background-image: url(./FalsoCarrusel/almaRojo.png);
    }
    100% {
        background-image: url(./FalsoCarrusel/almaChicle.png);
    }
}

.alma {
    width: 100%;
}

.medio {
    margin-bottom: 50px;
    margin-top: 50px;
}

.caja-img {
    width: 100%; 
     
}

.intro {
    color: rgba(255, 255, 255, 0.671);
    margin: 50px 80px;
    text-align: justify;
    display: flexbox;
    justify-content: center;
    margin-bottom: 10PX;    
}

.redes{
    display: flex;
    justify-content: center;    
}

.iconosredes li {
    display: inline-block;
    margin-top: 20px;          
}

 .linktree {
    width: 60px;    
}

.face {
    width: 70px;
}

.insta {
    width: 30px;   
}

/* BIOGRAFIA */
.presencias {
    margin-top: 60px;
    width: 100%;        
} 

.bio {
    margin: 80px 60px;
    text-align: justify;
    display: flexbox;
    justify-content: center;
    color: rgba(240, 248, 255, 0.671);
}

.biocompleta {
    font-size: 20px;
    text-decoration: none;
    color: rgb(65, 20, 230);
    border: 1px;
    border-style: solid;
    border-color: rgb(21, 30, 163);
    padding: 5px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
}

/* obras */
.img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    column-gap: 50px;
}

.img > * {
    border-radius: 20px;    
    width: 300px; 
    margin-top: 60px;  
}

/* prensa */
.clarin {
    width: 60%;
    margin-top: 60px;   
}

.prensaCompleta {
    font-size: 20px;
    text-decoration: none;
    color: rgb(65, 20, 230);
    border: 1px;
    border-style: solid;
    border-color: rgb(21, 30, 163);
    padding: 5px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.836);
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
}

/* CONTACTO */
.form {
    text-align: center;
    color: aliceblue;
    margin-bottom: 70PX;
    margin-top: 60PX;   
}

body {
    background-color: rgb(0, 0, 0);    
} 




