
* {
    margin: 0%;
    padding: 0%;
}

        .logo {
            width: 150px;
            margin-top: 50px;
        }

        .text-center {
            color: rgba(255, 245, 233, 0.877);
         }

         .nav-item {   
            font-size: map-get($tamanio-tipografia, titulos);
            @include border (2px, solid,rgba(0, 17, 255, 0.507), 5px, 20px)
            font-size: small;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: 10px;    
            margin-right: 40px;            
        }

        .falsocarrusel {
            background-image: url(/Imagenes/almaAzul.png);
            background-attachment: fixed;
            animation-name: carrusel;
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }
        
        @keyframes carrusel {
            20% {
                background-image: url(/Imagenes/almaCeleste.png);
            }
            40% {
                background-image: url(/Imagenes/almaChicle.png);
            }
            60% {
                background-image: url(/Imagenes/almaNaranja.png);
            }
            80% {
                background-image: url(/Imagenes/almaRojo.png);
            }
            100% {
                background-image: url(/Imagenes/almaChicle.png);
            }
        }
                   
        .alma {
                width: 100%;
            }
            
        .redes {
            @extend %flex-center; 
            .iconosredes li {
               display: inline-block;
               margin-top: 20px;
    }
            .linktree {
               width: 60px;    
    }
    
            .face {
               width: 70px;
    }
    
            .insta {
               width: 30px;   
    }
        }          
   
    body {
        background-color: rgb(0, 0, 0);
        
    } 

  

    
