
* {
    margin: 0%;
    padding: 0%;
}

        .logo {
            width: $tamanio-logo;
            margin-top: 50px;
        }
              
        .text-center {
            color: $color-arrascaeta;
        }

         .nav-item {   
            font-size: map-get($tamanio-tipografia, titulos);
            @include border (1px, solid,rgb(0, 17, 255), 1px, 20px)
            font-size: small;
            letter-spacing: 10px;    
            margin-right: 40px;
        }

        .falsocarrusel {
            background-image: url(/Imagenes/almaAzul.png);
            background-attachment: fixed;
            background-size: cover;
            background-size: contain;
            animation-name: carrusel;
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }
        
        @keyframes carrusel {
            20% {
                background-image: url(/Imagenes/almaCeleste.png);
            }
            40% {
                background-image: url(/Imagenes/almaChicle.png);
            }
            60% {
                background-image: url(/Imagenes/almaNaranja.png);
            }
            80% {
                background-image: url(/Imagenes/almaRojo.png);
            }
            100% {
                background-image: url(/Imagenes/almaChicle.png);
            }
        }
                   
        .alma {
                width: $alma;
            }
            
        .redes {
            @extend %flex; 
            .iconosredes li {
               display: inline-block;
               margin-top: 20px;
               margin-right: 20px;
    }
            .linktree {
               width: 60px;    
    }
    
            .face {
               width: 70px;
    }
    
            .insta {
               width: 30px;   
    }
        }          
   
    body {
      background-color: $color-fondo;        
} 

  

    
