

.medio {
    margin-bottom: 50px;
    margin-top: 50px;
}

.caja-img {
    width: 100%; 
     
}

.intro {
    @extend %flex;
    color: rgba(255, 255, 255, 0.671);
    margin: 50px 80px;
    margin-bottom: 10PX; 
}