$color-fondo: black;
$color-arrascaeta: rgba(255, 245, 233, 0.877);
$tamanio-logo: 150px;
$alma: 100%;
$color-intro: rgba(255, 255, 255, 0.671);
$color-bio: rgba(240, 248, 255, 0.671);

/* MAPS */
$tamanio-tipografia:(
    titulos: 24px,
    subtitulos: 20px,
    parrafos: 14px,
    letra-chica: 12px
) 


